body {
    height: 100%;
    width: 100%;
    position: absolute;
}

.container-fluid,
.row { height: inherit; }

/*===== PRECISION LIVESTOCK SECTION =====*/

.logo{
    display: block;
    margin-top: 30px;
    background-repeat: no-repeat;
    width: 50%;
    height: 45px;
    background-image: url(../imgs/logo.svg);
    background-size: contain;
}

.pl-info {
    background-image: url('../imgs/pl-Code.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px 30px;
}

.pl-text{
    position: relative;
    top: 40%;
    transform: translateY(-40%);
}

.pl-text h1{
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
    font-size: 42px;
    color: #1a675f;
}

.pl-text p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #79797a;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.company-links{
    position: absolute;
    bottom: 30px;
}

.nav-pills li{
    margin-right: 30px;
}

.nav-pills li a {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #1a675f;   
}

.nav-pills li a:hover {
    text-decoration: none;
    color: #68bd64;
}



/*===== LOGIN SECTION =====*/

.icon{
    display: block;
    margin: auto;
}

.pl-login{
    background: #1a675f;
    width: 100%;
    padding: 30px 50px;
}

.loginContent{
    position: relative;
    top: 40%;
    transform: translateY(-40%);
}

form{
    display: block;
    margin: auto;
}

div .form-group{
    width: 100%;
}

input.login{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid;
    border-bottom-color: #66c7c9;
    background-color: transparent;
    margin: 30px 0px 0px 0px;
    padding-bottom: 10px;
    font-size: 20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #0d3a33;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #0d3a33;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #0d3a33;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
:-moz-placeholder { /* Firefox 18- */
    color: #0d3a33;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

input.login:focus{
    border-bottom-color: #fff;
    outline: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

input.login:after{
    border-bottom-color: #fff;
    outline: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
:focus::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
:-ms-input-placeholder:focus { /* IE 10+ */
    color: #fff;
}
:-moz-placeholder:focus { /* Firefox 18- */
    color: #fff;
}

:after::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
:after::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
:-ms-input-placeholder:after { /* IE 10+ */
    color: #fff;
}
:-moz-placeholder:after { /* Firefox 18- */
    color: #fff;
}

.btn-primary {
    color: #1a675f;
    background-color: #e8e7e8;
    border-color: transparent;
    width: 100%;
    border-radius: 5em;
    padding: 15px 0px;
    margin: 30px 0px 30px 0px;
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.btn-primary:hover{
    color: #424243;
    cursor: pointer;
    background-color: #fff;
    padding: 15px 0px;
    margin: 30px 0px 30px 0px;
    border-color: transparent;
}

p#extra-btn{
    text-align: center;
}

a.idk-password{
    color: #66c7c9;
    text-decoration: underline;
    font-family: 'raleway', sans-serif;
}

a.idk-password:hover{
    color: #fff;
}



/*=================================
MEDIA QUERIES
=================================*/


@media only screen and (max-width : 768px) {
    .pl-info {
        height: 600px;
        padding: 0px 30px;
    }    
}

@media only screen and (max-width : 400px){
    .pl-text h1{
        font-size: 35px;
        text-align: center;
    }
    
    .pl-text p{
        text-align: center;
    }
    
        
    .logo{
        width: 60%;
        margin-left: 65px;
    }
    
    ul{
        margin-left: 40px;
    }
    
}

